* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 8px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.display-row {
    min-height: 600px;
    width: 100%;
}

.post {
    min-height: 500px;
    width: calc(100% / 3 - 8px);
    float: left;
}

.post:nth-child(2) {
    margin: 0px 12px;
}

.base-img {
    height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.hover-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    display: none;
    position: absolute;
}

.base-img-n1 {
    background-image: url(../img/1.webp);
}

.base-img-n2 {
    background-image: url(../img/2.webp);
}

.base-img-n3 {
    background-image: url(../img/3.webp);
}

.base-img-n4 {
    background-image: url(../img/4.webp);
}

.base-img-n5 {
    background-image: url(../img/5.webp);
}

.base-img-n6 {
    background-image: url(../img/6.webp);
}

.post-n1:hover .img-n1-hover {
    display: block;
}

.post-n2:hover .img-n2-hover {
    display: block;
}

.post-n3:hover .img-n3-hover {
    display: block;
}

.post-n4:hover .img-n4-hover {
    display: block;
}

.post-n5:hover .img-n5-hover {
    display: block;
}

.post-n6:hover .img-n6-hover {
    display: block;
}

.heart {
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 0px;
    background-color: white;
    padding: 4px 8px;
}

.tag-row {
    width: 100%;
    min-height: 20px;
    position: absolute;
    bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.discount-box {
    background-color: #eb0037;
    padding: 4px 6px;
}

.category-box {
    background-color: #00875a;
    padding: 4px 6px;
}

.info-box {
    display: inline-block;
    margin-top: 8px;
}

.brand {
    font-size: 14px;
}

.product-name {
    font-size: 16px;
    font-weight: 700;
}

.price {
    font-size: 14px;
    font-weight: 700;
    color: red;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}